<div *ngIf="gamesCategories.length > 0">
  <div class="container filters p-5">
    <div class="row">
      <div class="col-sm-12 search-box">
        <label for="search-box">
          Search a game by name: 
        </label>
        <input id="search-box" [(ngModel)]="filterBy"  type="text">
      </div>
    </div>
  </div>
  
  <div class="games-list bg-light">
    <tabset>
      <tab 
        [heading]="categoryGame.name" 
        *ngFor="let categoryGame of gamesCategories">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-3" *ngFor="let game of categoryGame._embedded.games | filterList: filterBy">
              <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <b>{{game.name}}</b>
                </div>
                <img 
                  [src]="game.thumbnail"
                  class="card-img-top" 
                  data-holder-rendered="true"
                >
                <div class="ribbon-container" *ngIf="game.meta.bonus">
                  <span class="ribbon">Bonus <b>ON</b></span>
                </div>
                <div class="card-body">
                  <p class="card-text" *ngIf="game.meta.free_spins">
                    Free Spins
                  </p>
                  <p class="card-text" *ngIf="game.meta.currency">
                    Earn in {{game.meta.currency}}
                  </p>
                  <button 
                    type="button" 
                    (click)="onViewDetails(game.id)"
                    class="btn btn-lg btn-block btn-primary">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<div class="loader-container" *ngIf="gamesCategories.length === 0 && !errorFromServer">
  <app-loader></app-loader>
</div>

<div *ngIf="errorFromServer">
  Error retrieving data from server. Please refresh the page
</div>