<div class="spinner-grow text-primary">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark">
  <span class="sr-only">Loading...</span>
</div>