<div class="container py-5" *ngIf="game">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <b>{{game.name}}</b>
        </div>
        <img 
          [src]="game.thumbnails['600x280']"
          class="card-img-top" 
          data-holder-rendered="true"
        >
        <div class="card-body">
          <p class="card-text" *ngIf="game.meta.free_spins">
            Free Spins
          </p>
          <p class="card-text" *ngIf="game.meta.currency">
            Earn in {{game.meta.currency}}
          </p>
          <p class="card-text" *ngIf="game.description !== ''">
            {{game.description}}
          </p>
          <p class="card-text" *ngIf="game.jurisdiction">
            Jurisdiction: {{game.jurisdiction}}
          </p>
          <p class="card-text" *ngIf="game.vendor">
            Vendor: {{game.vendor}}
          </p>
          <button 
            type="button" 
            (click)="goBack()"
            class="btn btn-lg btn-block btn-primary">Go back</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader-container" *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<div class="error-container" *ngIf="errorFromServer">
  <p>
    Error retrieving data from server. Please refresh the page
  </p>
  <button 
  type="button" 
  (click)="goBack()"
  class="btn btn-lg btn-primary">Go back</button>
</div>
